.header {
    width: 1500px;
    height: 60px;
    background-color: #FFD400;
    margin: -8px;
    display: flex;
    flex-direction: row
}

.logo {
    width: 228px;
    height: 40px;
    margin-top: 9px;
    margin-left: 70px;
}

.container {
    margin-top: 20px;
}

.container>h3 {
    margin-top: -65vh;
    margin-left: 130vh;
}

.container>span {
    margin-left: 130vh;
}